<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BesAsm.Tracer.TracerAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BesAsm.Tracer.TracerAddIn.Properties.Settings>
            <setting name="DefaultClickTolerance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KnownUsNodeFieldNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>us_node_id</string>
                        <string>US_Node</string>
                        <string>USNode</string>
                        <string>us_node_name_deprecated</string>
                        <string>FRM_NODE</string>
                        <string>From_Node</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="KnownDsNodeFieldNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ds_node_id</string>
                        <string>DS_Node</string>
                        <string>DSNode</string>
                        <string>ds_node_name_deprecated</string>
                        <string>TO_NODE</string>
                        <string>To_Node</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StartLinkColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="StopLinkColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LinkSelectDelay" serializeAs="String">
                <value>50</value>
            </setting>
        </BesAsm.Tracer.TracerAddIn.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
